
<style>
    
    h1 {
        font-family: "Source Sans Pro", Arial;
    }
</style>
<body>
    <div class="grad">
        <div class="textContainer">
            <div class="header">
                <h1>Please select your role</h1>
            </div>
            
            <div class="buttonParent">
                <button type="button" routerLink="/hr">Human Resources</button>
                <button type="button"routerLink="/student">Student</button>
            </div>
        </div>
    </div>
</body>




